<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Raman_Dell/Projects/SeleniumWorkshop12SEP2022/SeleniumProject12SEP2022">
        <classes>
            <class name="com.tekparams.actiondriver.ActionDriver">
                <methods>
                    <include name="openApplication"/>
                    <include name="loginToApplicaiton"/>
                    <include name="validateWorkItems"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>